/*Cuerpo HTML*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2E9AFE;
  margin: 0 auto;
  overflow-x: hidden;
}
/*Barra de Trello*/
.header {
  background-color: #0174DF;
  color: white;
  padding-bottom: 15px;
}
.boton-tab, .buscador, .Trello, .icon {
  display: inline-block;
}
.fa-trello, .tab {
  display: inline-block;
}
.fa-trello {
  margin-left: 7px;
}
.boton-tab {
  border-radius: 5px;
  background-color: #81BEF7;
  width: 100px;
  padding: 7px;
  margin-left: 10px;
  cursor: pointer;
}
.Busc {
  background-color: #81BEF7;
  color: white;
  width: 180px;
  border: none;
  outline: none;
}
.fa-search {
  cursor: pointer;
}
.buscador {
  border-radius: 5px;
  background-color: #81BEF7;
  width: 200px;
  padding: 7px;
  margin-left: 10px;
}
.Trello {
  width: 100px;
  height: 30px;
  padding-top: 5px;
  margin-left: 225px;
}
.icon {
  margin-left: 470px;
}
.fa-plus, .fa-info-circle, .fa-bell {
  border-radius: 5px;
  background-color: #81BEF7;
  width: 15px;
  padding: 7px;
  margin-left: 5px;
  cursor: pointer;
}
.fa-user-circle {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}
.text1, .fa-star-o, .fa-user-o, .text2, .fa-ellipsis-h, .menu {
  color: white;
  display: inline-block;
}
.text1, .fa-star-o {
  margin-left: 20px;
}
.fa-user-o {
  margin-left: 30px;
}
.text2 {
  margin-left: 5px;
}
.fa-ellipsis-h {
  margin-left: 700px;
}
.menu {
  font-weight: 600;
}
/*Formulario donde se agregan los datos*/
#text3 {
  background-color: #0174DF;
  color: white;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
  display: inline-block;
  cursor: text;
}
#text3:hover {
  cursor: text;
  background-color: #0B2161;
}
#Cuadro, #Cuadro2 {
  display: inline-block;
}
#Cuadro {
  width: 300px;
  height: auto;
  background-color: #E2E4E6;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
}
#textInput {
  background-color: #BDBDBD;
  width: 295px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
}
#boton {
  background-color: #5BAE45;
  color: white;
  padding: 10px;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
}
.fa-times {
  font-size: 20px;
  color: grey;
  margin-left: 5px;
  cursor: pointer;
}
/*Cuadro dos*/
#Cuadro2 {
  width: 300px;
  height: auto;
  background-color: #E2E4E6;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  float: left;
}
#label2 {
  display: block;
}
#cuadroText {
  width: 295px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
}
#boton2 {
  background-color: #5BAE45;
  color: white;
  padding: 10px;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
}
#Cuadro3 {
  width: 300px;
  height: auto;
  background-color: #E2E4E6;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: -20px;
  padding: 10px;
  display: table-caption;
}
